
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="item-card" style="background-color: {{ collections_colors[product.collection] }} ;">
    <div class="item-card-inner">
        <div class="card-img-box">
            <img src="{{ url_for('static', filename='img/' + product.sku + '/' + product.sku + '-main.webp') }}" alt="" class="card-main-image">
        </div>
        <div class="card-scrolling-box" style="background-color: {{ collections_colors[product.collection] }} ;">
        </div>
        <div class="grid-container">
            <div class="grid-item"><img src="/static/icons/dimension.svg"></div>
            <div class="grid-item-text"><p>{{ product.Height }}x{{ product.Width }} мм</p></div>
            <div class="grid-item"><img src="/static/icons/weight.svg"></div>
            <div class="grid-item-text"><p>{{ product.Weight }} гр</p></div>
            <div class="grid-item"><img src="/static/icons/material.svg"></div>
            <div class="grid-item-text card-info-text-flex"><p class="p-st card-grid-material">{{ product.material }}</p></div>
          </div>
        <div class="card-line"  style="background-color: {{ collections_colors[product.collection] }} ;">
            <p class="card-collection gothic_bold">Коллекция «{{ product.collection }}»</p>

            <div class="card-line-circle">
                <img src="/static/icons/dot.svg" alt="">
            </div>
        </div>
        <div class="card-text">
            <p id="card_description" class="gothic card-description">{{ product.short_description }}</p>
        </div>
    </div>
    <div id="card_showmore" class="card-showmore">
        <img src="/static/icons/line.svg" alt="">
    </div>
</div>

<script>
jQuery(document).ready(function($) {
    $('#card_showmore').on('click', function() {

        const cardDescription = $('#card_description');
        const cardShowmore = $('#card_showmore'); // Исправленный селектор
        const currentHeight = cardDescription.height(); // Исправленное обращение
        const targetHeight = cardDescription[0].scrollHeight;

        if (currentHeight === 105) {
            cardDescription.animate({ height: targetHeight }, 150);
            cardShowmore.css('bottom', '-30px');
            cardShowmore.css('transform', 'rotate(180deg)');
        } else {
            cardDescription.animate({ height: 105 }, 150);
            cardShowmore.css('bottom', '0'); // Возвращаем bottom в исходное состояние (предполагаю 0)
            cardShowmore.css('transform', 'rotate(0deg)');
        }
    });
});
</script>