<div class="shop-menu-mobile">
    <div class="letter-box">
        <span id="menu_btn" class="letter gecco"></span>
        <span class="letter F" data-collection="Futurism"></span>
        <span class="letter A" data-collection=""></span>
        <span class="letter B" data-collection="Baby dream"></span>
        <span class="letter L" data-collection="Lucky items"></span>
        <span class="letter E" data-collection="Exlibris"></span>
        <span class="letter D" data-collection=""></span>
        <span class="letter B" data-collection="Beast"></span>
        <span class="letter A" data-collection=""></span>
        <span class="letter Z" data-collection="Zodiac"></span>
        <span class="letter A" data-collection="All Hallows Eve"></span>
        <span class="letter A" data-collection="Alchimia"></span>
        <span class="letter R" data-collection=""></span>
    </div>
</div>

<div id="shop_menu" class="shop-menu">
    <div class="letter-box">
        <span class="letter F" data-collection="Futurism"></span>
        <span class="letter A" data-collection=""></span>
        <span class="letter B" data-collection="Baby dream"></span>
        <span class="letter L" data-collection="Lucky items"></span>
        <span class="letter E" data-collection="Exlibris"></span>
        <span class="letter D" data-collection=""></span>
        <span id="menu_btn" class="letter gecco"></span>
        <span class="letter B" data-collection="Beast"></span>
        <span class="letter A" data-collection=""></span>
        <span class="letter Z" data-collection="Zodiac"></span>
        <span class="letter A" data-collection="All Hallows Eve"></span>
        <span class="letter A" data-collection="Alchimia"></span>
        <span class="letter R" data-collection=""></span>
    </div>
</div>

<div id="collection-title"></div>

