<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js "></script>
<script src="/static/js/products.js"></script>
<script src="/static/js/jquery.noisy.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>

<body>

    {% block content %}
    <div class="card-item-container"></div>

    {% include 'header.html' %}

    {% include 'menu.html' %}
    
    <div class="shop-grid">
        {% for item in products %}
        <article data-id="{{ item.sku }}" data-collection="{{ item.collection }}" class="shop-item" >
            <img class="item-img-blur" src="{{ url_for('static', filename='img/' + item.sku + '/' + item.sku + '-main.webp') }}" alt="" srcset="">
            <img class="item-img" src="{{ url_for('static', filename='img/' + item.sku + '/' + item.sku + '-main.webp') }}" alt="" srcset="">
            <p class="item-name center goudy">{{ item.name }}</p>
        </article>

        {% endfor %}

    </div>
    <div class="fixed">
        <div id="product-detail" class="card-item-container">
        </div>
    </div>

    <div id="modal-overlay" style="display:none;">
        <button id="modal-close" class="modal-btn exit"></button>
        <button id="prev-modal" class="modal-btn carousel-arrow"><img src="{{ url_for('static', filename='icons/arrow_left.svg') }}" alt="" srcset=""></button>
        <img id="modal-image" src="" alt="Просмотр фото">
        <button id="next-modal" class="modal-btn carousel-arrow"><img src="{{ url_for('static', filename='icons/arrow_right.svg') }}" alt="" srcset=""></button>
    </div>

    <div id="background_blocker" style="display: none;"></div>
    {% endblock %}

    <div id="custom-cursor" class="cursor-default">
        <img src="/static/icons/cursor.svg" alt="Custom Cursor">
    </div>


    <script src="/static/js/header.js"></script>
    <script src="/static/js/noise.js"></script>
    <script src="/static/js/card_thumbnails_carousel.js"></script>
    <script src="/static/js/cursor.js"></script>
</body>

</html>