<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>

<body>
    {% include 'header.html' %}
    {% block content %}
    <div class="shop-grid">

        {% for item in products %}
        <article data-id="{{ item.sku }}" data-collection="{{ item.collection }}" class="shop-item" >
            <img class="item-img" src="{{ url_for('static', filename='img/' + item.sku + '/' + item.sku + '-main.webp') }}" alt="" srcset="" style="filter: drop-shadow(0px 0px 0px {{ collections_colors[item.collection] }});">
            <p class="item-name center goudy">{{ item.name }}</p>
        </article>
        {% endfor %}
    </div>

    {% endblock %}
</body>

</html>